@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-custom {
  font-family: 'Rubik', sans-serif;
}
.hidden {
  display: none;
}

pre {
  direction:  ltr !important;
}