{{ partial "header.html" . }}

<div class="flex flex-col gap-2 my-3 mb-10 ">
  <h1 class="font-black text-3xl md:text-4xl">{{ .Title }}</h1>
  <p class="text-lg">{{ .Description }}</p>
</div>

{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}

{{ .Content }}
<div class="flex flex-col gap-6">
  {{- range $index, $page := $paginator.Pages }}
  <article dir="{{.Params.Direction}}" class="post-snippet flex flex-col [&:not(:last-child)]:border-b border-stone-400 pb-6">
    {{ if .Params.Cover }}
    <img src="{{ .Params.Cover }}" class="w-full h-64 object-cover rounded-md my-3" alt="{{.Title}}" loading="lazy">
    {{ end }}
    <time class="text-xs text-muted" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <h2 class="font-semibold text-2xl my-1">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p class="text-sm mb-3 text-stone-700 dark:text-white"> {{ .Description }} </p>
    <div class="">
      {{ partial "tags.html" . }}
    </div>
  </article>
  {{ end }}


</div>

{{- if gt $paginator.TotalPages 1 }}
<nav class="pagination w-full flex items-center justify-between">
  {{- if $paginator.HasPrev }}
  <a class="px-2 py-1 rounded dark:bg-white dark:text-black bg-stone-800 text-white" href="{{ $paginator.Prev.URL | absURL }}">
    «&nbsp;{{ i18n "prev_page" }}&nbsp;
    السابق
    {{- if (.Param "ShowPageNums") }}
    {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
    {{- end }}
  </a>
  {{- end }}
  {{- if $paginator.HasNext }}
  <a class="px-2 py-1 rounded dark:bg-white dark:text-black bg-stone-800 text-white" href="{{ $paginator.Next.URL | absURL }}">
    التالي
    {{- i18n "next_page" }}&nbsp;
    {{- if (.Param "ShowPageNums") }}
    {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
    {{- end }}&nbsp;»
  </a>
  {{- end }}
</nav>
{{- end }}

{{ partial "footer.html" . }}