{{ partial "header.html" . }}

<h1 class="font-black my-3 mb-10 text-3xl md:text-4xl">{{ .Title }}</h1>

{{ .Content }}
<div class="flex flex-col gap-8 mb-10">
  {{ range.Data.Pages }}
  <article class="post-snippet flex flex-col border-b border-stone-400 pb-10">
    {{ if .Params.Cover }}
      <img src="{{ .Params.Cover }}" class="w-full h-64 object-cover rounded-md my-3">
    {{ end }}
    <time class="text-xs text-muted" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <h3 class="font-semibold text-2xl my-1">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <p class="text-sm text-stone-700"> {{ .Description }} </p>
  </article>
  {{ end }}


</div>

{{ partial "footer.html" . }}