{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{$pinned := where $posts "Params.pinned" "eq" true }}

<div class="flex flex-col gap-3 w-full">
    {{ range $pinned }}
    <a href="{{ .RelPermalink }}" aria-label="{{.Title}}"
        class="p-5 bg-stone-100 border border-stone-400 rounded dark:bg-stone-900 dark:text-white w-full flex flex-col gap-2">
        <time class="text-xs text-muted" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
        </time>
        <h2 class="font-bold text-xl md:text-2xl">{{ .Title }}</h2>
        <p class="text-sm text-muted">{{ .Description }}</p>
    </a>
    {{ end }}
</div>