<header
  class="site-header w-full bg-stone-100 dark:bg-stone-900 dark:text-white border-stone-400 border-b  py-5 px-3 lg:px-3">
  <nav class="site-nav flex items-center justify-between gap-3 container mx-auto " >
    <div class="flex items-center  flex-wrap">
      <a class="logo text-2xl md:text-3xl font-black" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
      <ul class="main-menu flex items-center gap-3 mr-5">
        {{ range.Site.Menus.main }}
        <li>
          <a class=" text-lg" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <button aria-label="theme-toggle" id="toggle-theme">
      {{ partial "partials/icons/moon.html" .}}
      {{ partial "partials/icons/sun.html" .}}
    </button>
  </nav>
</header>